[Unit]
Description=Perfect deployed misionserver

[Service]
Type=simple
WorkingDirectory=/perfect-deployed/misionserver
ExecStart=/perfect-deployed/misionserver/MisionServer
Restart=always
PIDFile=/var/run/misionserver.pid

[Install]
WantedBy=multi-user.target
